<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GETTING STARTED WITH BRACKETS</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
	<!--<link rel="stylesheet" href="main.css">-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lemonada|Pacifico&display=swap" rel="stylesheet">
    </head>
    <body>
<!--
<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="#">YourLogo</a>
        </div>
        <div class="main_list" id="mainListDiv">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">my work</a></li>
                <li><a href="#">disegn</a></li>
                <li><a href="#">dcontact</a></li>
            </ul>
        </div>
        <div class="media_button">
            <button class="main_media_button" id="mediaButton">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</nav>
-->
        <div class="introContainer">
        <H1>THE HUNT</H1>
    <h3>JOB SEARCHING SEARCH ENGINE</h3>
        </div>
    
        
        
    
    <form action="/action_page.php">
        
        <div class="autocomplete" style="width:500px">
  <label for="myInput">Desired Career Field: </label><input type="text" id="myInput" name="myCountry" placeholder="Job Title, Keywords or Company:"><br><br>
  <label for="lname">Desired Location: </label><input type="text" id="lname" name="lname" placeholder="City, State or Zip Code"><br><br>
  
 <form action="/action_page.php">
  <label for="rang">Distance Radius:</label>
  <input type="range" list="miles" min="0" max="100">
    <datalist id = "tickmarks">
    <option value= "0"></option>
    <option value="10"></option>
    <option value="20"></option>
    <option value="30"></option>
    <option value="40"></option>
    <option value="50"></option>
    <option value="60"></option>
    <option value="70"></option>
    <option value="80"></option>
    <option value="90"></option>
    <option value="100"></option>
  </datalist>

</form>
<br><br>            
                     
<label for="Job Type">Job Type:</label>
<select id="JobType">
  <option value="partTime">Part-Time</option>
  <option value="fullTime">Full-Time</option>
  <option value="intern">Internship</option>
</select><br><br>

<label for="Experience Level">Position:</label>
<select id="experience">
  <option value="Entry Level">Entry Level</option>
  <option value="Mid Level">Mid Level</option>
  <option value="Senior Level">Senior Level</option>
</select><br><br>    
            
<label for="Position">Salary:</label>
<select id="Salary">
  <option value="volvo">$30,000-$50,000</option>
  <option value="saab">$51,000-$70,000</option>
  <option value="opel">$71,000-$100,000</option>
    <option value="opel">$101,000+</option>
</select><br><br>
  <input type="submit" value="Find A Job Now">
        </div>
</form>
<section class="home"></section>
        
        <h1>Here is a Mapping of Your Job Options</h1>

<div id="googleMap" style="width:100%;height:400px;"></div>

<script>
function myMap() {
var mapProp= {
  center:new google.maps.LatLng(51.508742,-0.120850),
  zoom:5,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>

    </body>
</html>
